body{
    padding: 0px;
    margin: 0px;
}
.menu{
    background-color: rgb(17, 7, 146);
    padding: 10px;
    text-align: center;
    word-spacing: 300px;
    width: 100%;
    position: fixed;
}

.elemento_menu{
    color: white;
    text-decoration: none;
    
}
#inicial{
    margin: 0px;
}

.librero{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#h2libr{
    margin-top: 0px;
    text-align: center;
}

#h2lib{
    margin-top: 20px;
    text-align: center;
}

.elemento_librero{
    margin: 20px;
    float: left;
}

.lib{
    margin-left: 70px;
}

.biografia{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(38, 83, 121);
    color: white;
}

.obra{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(37, 37, 83);
    color: white;
}

.legado_e_influencia{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(30, 78, 74);
    color: white;
}

.citas{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(26, 73, 55);
    color: white;
}

.cuento{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(15, 41, 63);
    
    color: white;
}

#imagenes{

        display: block;
        margin: auto;
}

.opinion{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(38, 12, 59);
    
    color: white;
}

.glosario{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(58, 14, 43);
    color: white;
}

.comentarios{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 1200px;
    padding: 30px;
    background-color: rgb(58, 14, 14);
    color: white;
}

#verso{
    text-align: center;
}